<ol class='students'>
<% @users.each do |user| %>
	<li>
		<div>
			<%= gravatar_for user,80 %>
			<%= link_to(cap_name(user),user,class: 'black-text') %>
			<strong> <%= user.points %> </strong>

		</div>
	</li>

<% end %>

</ul>