<style type="text/css">
.navbar{
	display: none;
}
body{
	padding-top: 0px;
}

</style>
<div class="splash">
<div class="home-btns">
<%= link_to('Register Now!',register_path,class: 'btn btn-success') %>
<%= link_to('Login',login_path, class: 'btn btn-success') %>
</div>
</div>

