@import "bootstrap";

/* Body styling */
body{
  padding-top: 50px;

}
.navbar{
}

.navbar-right{
  padding-right: 20px;
}

.jumbotron{


}
.myjumbotron{
background: url('http://i.imgur.com/PyJhE9E.jpg') ;
height: 450px;
margin-bottom: 0px;
width: 100%;
color: white;
padding-top: 173px;
padding-left: 122px;
background-repeat: none;
background-size: cover;


}
.aboutjumbotron{



}

/* Forms and whatnot */
 /* Forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: 35px;
}

.btn-signup{
  width: 28%;
  height: auto;
}

#error_explanation {
  color: #B84949;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  color: rgb(168, 29, 29);
  input {
    border: 1px solid rgb(168, 29, 29);
    &:focus{
      border: 1px solid rgb(168, 29, 29);
    }
  }
}

.aboutme{
  height:100px;
}
.students{
  border-top-width: 1px;
  border-color: gray;
  border-bottom-width: 1px;
  li{
    padding-top: 10px;
  }
}
.pad-bottom{
  padding-bottom: 30px;
}

.profile-column{
background-color: white;
height: 400px;
padding-top: 15px;

}
.feed{
background-color: white;
height: 400px;
border-left-style: solid;
border-right-style: solid;
border-color:rgb(247, 247, 247);
padding-top:33px;

}
.popular{
background-color: white;
  height: 400px;
  padding-top: 20px;

}
.in-profile{
  background-color: #3A3A3A;
  width:75%;
  padding-top: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
  .heading{
    padding-left: 20px;
    font-size: 28px;
  }
}
.just-in{
  padding-bottom: 30px;
}
.pop-events{
background-color: #26673f;
  width:75%;
  padding-top: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
}
.home-btns{
  position: relative;
  top: 63%;
  left: 42.5%;

  }
.btn-success{
      background-image: -webkit-linear-gradient(bottom, #00a845 4%, #00ba4c);
  background-image: -moz-linear-gradient(bottom, #00a845 4%, #00ba4c);
  background-image: -o-linear-gradient(bottom, #00a845 4%, #00ba4c);
  background-image: linear-gradient(to top, #00a845 4%, #00ba4c);
}
.black-text{
  color: black;
}
.event-feed{
  padding-left: 0px;
  list-style: none;
  padding-top: 0px;
  li{
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgb(241, 241, 241);
}
}

.events-list{
  list-style: none;
  margin-left: -36px;
  a{
    color: black;
  }

  li{
    border-top-style: solid;
    border-top-color: rgb(241, 241, 241);
    padding-top: 0px;
    &:last-child{
      border-bottom-style: solid;
    border-bottom-color: rgb(241, 241, 241);
    }

  }
}

.profileDiv{
  padding-left: 6px;
}

.profList{
  list-style: none;


  li{
    margin-left: -38px;

  }
}
.myborder-left{
  border-left-style: solid;
  border-color: rgb(241, 241, 241);
}
.user-eventDiv{
  padding-top: 30px;
}

.user-events-list{
  margin-left: -76px;
}
.eventsUsers{
    margin-left: -36px;
    list-style: none;
  a{
    color: black;
  }

  li{
    border-top-style: solid;
    border-top-color: rgb(241, 241, 241);
    padding-top: 10px;
    padding-bottom: 10px;
    &:last-child{
      border-bottom-style: solid;
    border-bottom-color: rgb(241, 241, 241);
    }

  }
}
.post-btn{
  width: 60px;
  margin-left: 90px;
  margin-left: 339px;
margin-top: -8px;
border-bottom-style: solid;
border-color: rgb(241, 241, 241);
}
.post-feed{
padding-top: 10px;
}
.post-feed-list{
list-style: none;
li{
  margin-left: -36px;
  padding-bottom: 20px;
  padding-top: 20px;
      border-top-style: solid;
    border-top-color: rgb(241, 241, 241);
}
}
.more-space{
  padding-left: 4px;
}
.team-photo{
  height: 100%;
  width: 100%
}
