@import "bootstrap";

/* Body styling */
body{
  padding-top: 50px;

}
.navbar{
  background-color: #009445;
  border-color: #009445;
  color: white !important;
}

.navbar-right{
  padding-right: 20px;
}

.jumbotron{
background: url('http://i.imgur.com/PyJhE9E.jpg') ;
height: 450px;
margin-bottom: 0px;
width: 100%;

}

/* Forms and whatnot */
 /* Forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: 35px;
}

.btn-signup{
  width: 28%;
  height: auto;
}

#error_explanation {
  color: #B84949;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors{
  color: rgb(168, 29, 29);
  input {
    border: 1px solid rgb(168, 29, 29);
    &:focus{
      border: 1px solid rgb(168, 29, 29);
    }
  }
}

.aboutme{
  height:100px;
}
.students{
  list-style: none;
  border-top-width: 1px;
  border-color: gray;
  border-bottom-width: 1px;
  li{
    padding-top: 10px;
  }
}
.pad-bottom{
  padding-bottom: 30px;
}.white{
  color: white !important;
}
.navbar-inverse .navbar-nav > li > a {
color: white;
border-left: 1px solid rgb(189, 189, 189);

}
.profile-column{
background-color: #18a34d;
height: 400px;
padding-top: 15px;

}
.feed{
background-color: #3db26a;
height: 400px;

}
.popular{
background-color: #18a34d;
  height: 400px;

}
.in-profile{
  background-color: #26673f;
  width:75%;
  padding-top: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
  .heading{
    padding-left: 20px;
    font-size: 28px;
  }
}
.just-in{
  padding-bottom: 30px;
}
.pop-events{
background-color: #26673f;
  width:75%;
  padding-top: 15px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: white;
}
.home-btns{
  position: relative;
  top: 63%;
  left: 42.5%;
  }
.btn-success{
  background-color: #2E852E;
  border-color: #2E852E;
}

